
@{
    ViewBag.Title = "CareerObjective";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>CareerObjective</h2>

<h1>Reliable intern studying Computer Science & Engineering (CSE) seeks an internship opportunity to expand skills and gain valuable real-world experience.</h1>