
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2 style="text-align:center; font-weight:bold; color:blue">Education</h2>


<h3 style="font-weight:bold">Bachelor of Science in Computer Science Engineering (B.sc in CSE)<br /></h3>
<h4>
    University : American International University-Bangladesh<br />
    Passing Year : Expected in April 2022 <br />
    Result : CGPA 3.96 Out of 4.00<br /><br /> </h4>

<h3 style="font-weight:bold">
    Higher Secondary Certificate (HSC) <br /></h3>
<h4>
    Group : Science <br />
    Institute : Government Science College, Dhaka <br />
    Board : Dhaka Board <br />
    Passing Year : 2018 <br />
    Result : GPA 4.50 Out of 5.00 <br /><br /></h4>

<h3 style="font-weight:bold">
    Secondary School Certificate (SSC) <br /></h3>
<h4>
    Group : Science <br />
    Institute : Holy Child School & College, Dhaka <br />
    Board : Dhaka Board <br />
    Passing Year : 2016 <br />
    Result : GPA 5.00 Out of 5.00
    </h4>
