
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>CURRICULUM VITAE </h2>


<h1> Mehedi Hassan Mishal </h1>
<h2> B.sc Engineer (CSE) </h2>
<h2>Contact No: 01883910814</h2> 
<h3> E-mail: mehedimishal2017@gmail.com</h3>
