
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>LANGUAGE PROFICIENCY</h2>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th>Language</th>
        <th>Reading</th>
        <th>Writing</th>
        <th>Listening</th>
        <th>Speaking</th>
    </tr>
    <tr>
        <td>Bengali</td>
        <td>Excellent</td>
        <td>Excellent</td>
        <td>Excellent</td>
        <td>Excellent</td>

    </tr>
    <tr>
        <td>English</td>
        <td>Excellent</td>
        <td>Good</td>
        <td>Good</td>
        <td>Excellent</td>
    </tr>
    
</table>