
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>PERSONAL INFORMATION</h2>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<table>
    <tr>
        <td>Full name :</td>
        <td>Mehedi Hassan Mishal</td>
    </tr>

    <tr>
        <td>Father’s Name :</td>
        <td> Ali Hossain </td>
    </tr>

    <tr>
        <td>Mother’s Name :</td>
        <td> Alya Begum </td>
    </tr>

    <tr>
        <td>Date of Birth :</td>
        <td> September 10, 1999 </td>
    </tr>

    <tr>
        <td>Gender :</td>
        <td> Male </td>
    </tr>

    <tr>
        <td>Marital Status :</td>
        <td> Unmarried </td>
    </tr>

    <tr>
        <td>Nationality :</td>
        <td> Bangladeshi  </td>
    </tr>

    <tr>
        <td>Present Address :</td>
        <td> Building-05, Banabithi Complex, Sector-08, Uttara, Dhaka. </td>
    </tr>

    <tr>
        <td>Permanent Address :</td>
        <td> Chanua Bazar, Feni. </td>
    </tr>

</table>
