
@{
    ViewBag.Title = "Qualification";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>Qualification</h2>

<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>

<table>
    <tr>
        <td> Programming Language :</td>
        <td> C, C++, C#, Java, JavaScript, PHP, Python.</td>
    </tr>

    <tr>
        <td>Software :</td>
        <td> Virtual Box, Multisim, MATLAB, Proteus. </td>
    </tr>

    <tr>
        <td>Microsoft office package :</td>
        <td> MS Word, MS Excel, MS PowerPoint. </td>
    </tr>
    </table>
       
