
@{
    ViewBag.Title = "Referance";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>Referance</h2>

<h3> Md. Kishor Morol LECTURER, <br /></h3>
<h4>Computer Science at AIUB <br /></h4> 
<h5>Contact: kishor@aiub.edu</h5> 
