
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<h2>Skills</h2>

<h4>
    1. Teamwork and Collaboration <br />
    2. Active Listening <br />
    3. Critical Thinking <br /> 
    4. Cultural Awareness <br /> 
    5. Self-Motivated <br /> 
    6. Dependable and Responsible
</h4>